body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1; /* Cor de fundo */
    color: #2c3e50; /* Cor do texto */
}

header {
    background-color: black; /* Cor principal */
    color: #ffffff; /* Texto branco */
    padding: 20px;
    text-align: center;
}
img {
    width: 350px; /* Defina a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 30px; /* Faz a imagem ficar em formato circular */
     /* Para centralizar a imagem */
    margin: 20px auto; /* Margem acima e abaixo da imagem, e centraliza horizontalmente */
}

p{ font-weight: bold;
    

}

.imgs{
    width: 250px;
    height: auto;
    border-radius: 30px;
    display: block;
    margin: 20px auto;

}

h2 {
    color: black; /* Cor secundária */
}

section {
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff; /* Fundo branco para seções */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    
    
}




footer {
    background-color: #3498db; /* Cor do rodapé */
    color: #ffffff; /* Texto branco */
    text-align: center;
    padding: 10px;
}